Source: ros-rolling-dynamixel-workbench-toolbox
Section: misc
Priority: optional
Maintainer: Will Son <willson@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ros-rolling-dynamixel-sdk, ros-rolling-rclcpp, ros-rolling-ros-workspace
Homepage: http://wiki.ros.org/dynamixel_workbench_toolbox
Standards-Version: 3.9.2

Package: ros-rolling-dynamixel-workbench-toolbox
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-dynamixel-sdk, ros-rolling-rclcpp, ros-rolling-ros-workspace
Description: This package is composed of 'dynamixel_item', 'dynamixel_tool', 'dynamixel_driver' and 'dynamixel_workbench' class.
 The 'dynamixel_item' is saved as control table item and information of DYNAMIXEL. The 'dynamixel_tool' class loads its by model number of DYNAMIXEL. The 'dynamixel_driver' class includes wraped function used in DYNAMIXEL SDK. The 'dynamixel_workbench' class make simple to use DYNAMIXEL.
